rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{document} {
      allow read, write: if true;
    }
    match /administradoras/{document} {
      allow read, write: if true;
    }
    match /condominios/{document} {
      allow read, write: if true;
    }
    match /pastas/{document} {
      allow read, write: if true;
    }
    match /arquivos/{document} {
      allow read, write: if true;
      
      match /chunks/{chunk} {
        allow read, write: if true;
      }
    }
    match /protocolos/{document} {
      allow read, write: if true;
    }
    match /mensagens/{document} {
      allow read, write: if true;
    }
    match /auditoria/{document} {
      allow read, write: if true;
    }
    
    // Fallback deny all
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
